body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding-top: 80px;	/*Igual al tamaño de la cabecera*/
	overflow: hidden;
}

.sidebar{
	font-family: 'Raleway', sans-serif;
	position: absolute;
	width: 250px;
	height: 100%;
	background: #333;
	color: #fff;
	outline: 1px solid #2a2a2a;
}

.sidebar h2{
	text-align: center;
	margin: 0;
	padding: 10px;
	background: #2a2a2a;
}

.sidebar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar li{
	outline: 1px solid #2a2a2a;
	transition: border 0.3s;
}

.sidebar li:hover{
	background: #444;
	border-left: 5px solid #fff;
}

.sidebar a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

.contenido{
	position: absolute;
	background: #eee;
	padding: 30px;
	transition: all 0.3s;
	/*Al contenido sí se le puede hacer scroll vertical -> Quitar si la paginación no lo requiere*/
	overflow-y: scroll;
	top: 80px;
	bottom: 0px;
}

.menu-bar{
	width: 80px;
	cursor: pointer;
	float: left;
}

.abrir{
	margin-left: 250px;
}

/*Código para ocultar el sidebar si el ancho de la pantalla <600px*/
@media (max-width: 600px) {
	.sidebar{
		visibility: hidden;
	}
	.contenido{
		margin-left: 0px;
	}
}

/*Código para ocultar el sidebar si la altura de la pantalla <600px*/
@media (max-height: 600px) {
	.sidebar{
		visibility: hidden;
	}
	.contenido{
		margin-left: 0px;
	}
}

/*Cabecera fija*/
/*Nota: Uso de "#" en lugar de "." porque el elemento se identifica con un ID en lugar de una clase -> ID para un elemento, clase para varios*/
#logo-header {
	float: left;
	padding: 20px 0 0 20px;
	text-decoration: none;
}

#logo-header:hover {
	color: rgb(22, 159, 201);
}
	
#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.4em;
	text-align: center;
}
	
#logo-header .site-desc {
	display: block;
	font-weight: 300;
	font-size: 0.9em;
	color: #999;
}

#main-header {
	background: #333;
	height: 80px;
	width: 100%; /* Largo de la cabecera */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Cabecera fija */
}
	
#main-header a {
	color: white;
}

#main-header nav {
	float: right;
	text-decoration: none;
}

#main-header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
#main-header ul li {
	display: inline-block;
	line-height: 80px;
}
			
#main-header nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}
			
#main-header nav ul li a:hover {
	background: #444;
}


