.html {
    background-color: darkgray;
}

.acc-button{
    padding:8px 16px;
    color:inherit;
    display:block;
    width:100%;
    text-align:left;
    background-color: #0274d854;
    border: none;
    margin-bottom: 5px;
    
}
.acc-hide{
    display:none;
}
.acc-show{
    display:block;
}

.prod{
    font-size: 50px;
}
.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
.breadcrumb li {
    display: inline;
    font-size: 18px;
}
.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

.evento{
    margin-left: 240px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    background-color: rgba(0, 26, 255, 0.288);
    position: static;
    width: 80%; 
    margin-top: 10px;
    
}

.form {
    margin-left: 500px;
    margin-top: 100px;
}
.form div {
    margin-bottom: 50px;
}
.form input {
    margin-left: 50px;
}

.cuadrito{
    padding-top: 100px;
    position: absolute;
    width:10%;
}

.seccionEntradas {
    position: static;
    width: 100%;
    padding-top:30px;
}

.subpaginacion {
    background-color: rgb(148, 148, 148);
    border: none;
    padding: 15px 32px;
    width:7%;
    text-align:left;
    position: absolute;
    margin-left: 32px;
    margin-top: -12px;
}
.btn {
    background-color: rgba(0, 255, 13, 0.377);
    text-decoration: none;
    border: none;
    padding: 15px 32px;
    width:20%;
    text-align:left;
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
}